GENERATE_EMBEDDINGS_API_URL=http://localhost:8000
GENERATE_TOKENS_API_URL=http://localhost:8080
EMBEDDING_AVERAGE_API_URL=http://localhost:7000
ELASTIC_URL=https://localhost:9200
ELASTIC_USER=elastic
ELASTIC_PASSWORD=user123
PORT=3000
